
#project-section-container{
   background-color: #e4e4e4;
   position: relative;
   border-top-left-radius: 60px 70px;
   border-top-right-radius: 60px 70px;
   box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
   padding: 35px;
   height: 100vh;
  
}
.project-head{
    padding: 0 30px 0 30px;
}

    .container-image-project {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .container-project-display{
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;
  
  }
  .list-text {
    display: flex;
    padding: 15px;
    flex-direction: column;
    border: solid 0.2px #abaaaa;
    /* background-color: #006ee6; */
    border-radius: 28px;
    margin-bottom: 10px;
    /* color: white; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
transition: 0.3s;
  }
.list-text:hover{
  box-shadow: 0 0.25em 0.25em -0.1em rgb(172, 172, 174);
  transform: translateY(-0.25em);
  animation-delay: 1s;

}
  
#tech-pill{

    background-color: #30d8d8;
}
#location-pill{

    background-color: #ff6347e6;

}
#service-pill {
  background-color: #d0d074;
}
.box1 h1{
     font-size: 4.5rem;
    font-weight: 600;

}

  .box2{
    position: relative;
    text-align: end;

  }
  .project-container {
    padding-top: 10px;
    pointer-events: auto;

  }
  .blob-container{
    z-index: 1;
    position: absolute;
    height: 100%;
}
.image-container{
    z-index: 100;
    display: block;
    position: absolute;

}
/* 
button#folder-button {
    background: none;
    box-shadow: none;
    height: 100px;
    width: 100px;
    padding: 0;
}

.project-head{
    width: 100%;
    display: block;
    padding-top: 150px;
    padding-bottom: 30px;
}

p {
  font-weight: 400;
  color: #1d1d1d;
  padding-top: 10px;
}

.project_name {
  text-align: center;
}

.folder {
  transition: all 0.2s ease-in;
}
.folder__back {
  position: relative;
  width: 100px;
  height: 80px;
  background: #4786ff;
  border-radius: 0px 5px 5px 5px;
}
.folder__back::after {
  position: absolute;
  bottom: 98%;
  left: 0;
  content: "";
  width: 30px;
  height: 10px;
  background: #4786ff;
  border-radius: 5px 5px 0 0;
}
.folder__back .paper {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 70%;
  height: 80%;
  background: #e6e6e6;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.folder__back .paper:nth-child(2) {
  background: #f2f2f2;
  width: 80%;
  height: 70%;
}
.folder__back .paper:nth-child(3) {
  background: white;
  width: 90%;
  height: 60%;
}
.folder__back .folder__front {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #70a1ff;
  border-radius: 5px;
  transform-origin: bottom;
  transition: all 0.3s ease-in-out;
}
.folder:hover {
  transform: translateY(-8px);
}
.folder:hover .paper {
  transform: translate(-50%, 0%);
}
.folder:hover .folder__front {
  transform: skew(15deg) scaleY(0.6);
}
.folder:hover .right {
  transform: skew(-15deg) scaleY(0.6);
}

.window-pop{
    height: 500px;
    width: 500px;
    display: block;
    background-color: #ffffff;
    border-radius: 18px;
    padding: 20px;
} */
.project-head h1{
font-size: 6.5rem;

}
#project-container{
    margin: 0;
}

.list-project {
    display: flex;
    flex-direction: column;
    border-bottom: solid 0.5px;
    padding-bottom: 1.25vw;
    padding-top: 1.25vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    

}

.list-project .list h2{
    margin-bottom: none!important;
}
#project-overscroll{

        background-color: #f5efef;
        border-radius: 25px;
        z-index: 100;
        overflow-y: auto;
        height: 800px;
     
    
}

  .img-project {
    z-index: 100;
    width: 600px;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
}
.img-project {
z-index: 100;
width: 600px;
}
#project-container{
    display: flex;
    flex-direction: row!important;
    justify-content: space-between;
}
body:not(.mobile) .list-text:hover + .img-project img{
    visibility: visible;
    transform: translate(-50%, -50%) scale(0.7);
    transition: opacity 0.1s, visibility 0.1s, transform 0.2s;
    width: 100%;
    
}
.project-pill-container{
        display: flex;
        width: 70%;
        justify-content: space-around;
        height: 50px;
        
}
.project-pill{
    border: solid 0.5px rgba(47, 45, 45, 0);
    padding: 10px;
    border-radius: 18px;
    overflow-y: hidden;
   

   

}
.list-project {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .hover-container img {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
  
  .hover-container:hover img {
    display: block;
  }

  @media screen and (max-width: 768px) {
    #project-section{
      width: var(--container-width-sm);
      display: flex!important;
      flex-direction: column-reverse!important;
      height: 100%;
  }

    .project-pill-container {
      display: flex;
      width: 100%;
      justify-content: space-around;
      height: 50px;
  }
  .project-pill-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50px;
}
.project-pill p{
  font-size: 10px;
}
.img-project {
  z-index: 100;
  width: 100%;
}
#project-section-container {
  background-color: #e4e4e4;
  position: relative;
  overflow-y: hidden;
}

  }