.binary-cube{
display: flex;
height: 650px!important;
width: 100%;
justify-content: center;
position: relative;
bottom: 80px;
}
#landing-page{
margin-top: 100px;
border-radius: 70px;
padding: 10px;

}
.landing-text h1{
    margin-top: 10px;
    width: 500px;
}

.container-text {
    display: flex;
    width: 100%;
}
.spacing {
    display: block;
    width: 500px;
}
.landing-catalog{
    display: inline-flex;
}
.landing-catalog h1 {
    font-weight: 500;
    margin-top: 10px;
    font-size: 1.8rem;
}
.circle {
    height: 45px;
    width: 85px;
    background-color: rgb(77, 71, 255);
    border-radius: 50%;
    margin: 10px;
    /* margin-top: 12px; */
    /* margin-right: 20px; */

  }
@media screen and (max-width: 768px) {
    .binary-cube {
        display: flex;
        height: 424px!important;
        width: 100%;
        justify-content: center;
        position: relative;
        bottom: 80px;
    }

    #landing-page {
        margin-top: 0px;
        border-radius: 70px;
        
    }
    #landing-page {
        padding: 10px;
    }
.landing-container{
        position: relative;
        bottom: 100px;
}
.landing-text h1{

width: 100%!important;

}
.container-fluid {
margin-top: 9px;
}
.sct-landing-mobile{
margin-top: 0px!important;
padding-top:0px!important;

}
canvas{
  
        display: block;
        width: 100%!important;
        height: 100%!important;
        z-index: 100!important;
        position: absolute!important;
    
    
}
div#cube-canva {
     
        display: block;
        padding: 10px;
            width: 80%;
            height: 80%;
            display: block;
            justify-content: left;
            display: flex;
            position: absolute;
            right: 20px;
           
    
}

.container-text {
    display: flex;
    flex-direction: column;
    width: 329px;
    
}
.landing-catalog{
    margin-top: 50px;
}
.circle{
display: none;
}
.landing-catalog h1 {
    font-weight: 500;
    margin-top: 10px;
    font-size: 1rem;
    width: 290px;
}
}