.avatar-3D{
  
        display: block;
        
        
}

section#About-section {
        background-color: #eeebeb;
        border-top-left-radius: 60px 70px;
        border-top-right-radius: 60px 70px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
/* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
        height: 100vh;
        padding: 100px;
    }

#image-about{
    display: block;
    height: 500px;
    border-radius: 5px;
}
.about-text{
    display: flex;
    font-Weight:600;
    font-Family:'Inter', sans-serif;
}
.about-text h1{
    padding: 12px;
    font-size: 65px;
  
}
.about-para p{
    text-align: justify;
    padding: 15px;
}
.text-container{
    display: flex;
    flex-direction: column;
}
.skills-pill{
    border: solid 0.5px;
    height: 50px;
    padding: 10px;
    border-radius: 18px;
    margin-right: 3px;
    display: inline-flex;
    margin-top: 5px;
    margin-left: 3px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    pointer-events: auto;
    
}
.skills-pill:hover{
    background-color:#ff6600 ;
    transition: 1s;

}
.icon-container-profile{
    display: flex;
}
.icon-profile{
    padding:10px;
    pointer-events: auto;
}
.github-logo-icon, .linkedin-logo-icon{
width: 30px;
}

@media screen and (max-width: 768px) {
    .avatar-3D{
  
        display: block;
        height: 100%;
        overflow-y: hidden;
    
}

    .container-1{
        padding: 15px!important;
    }
    .text-container{
        display: flex;
        flex-direction: column;
        width: 300px;

    }
    #image-about{
        display: block;
        height: 400px;
    
    }
    .skills-container {
        display: contents;
    }
    section#About-section {
        background-color: #eeebeb;
        border-top-left-radius: 60px 70px;
        border-top-right-radius: 60px 70px;
        /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
        height: 100%;
        padding: 0!important;
        width: 100%;
    }
    .about-text h1{
        font-size: 40px;
    }

}